.countries-name-block{
    width: 10%;
    border: 1px solid black;
    padding: 10px 20px;
    overflow: scroll;
    height: 500px;


}
.Info-block{
    width: 70%;
    border: 2px solid lightgray;
}
.main-block{
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
    max-width: 1200px;
}